.Rproj.user
.Rhistory
.RData
.Ruserdata

acs-pums/legacy
acs-pums/src/*/unnamed-chunk**.do
acs-pums/src/*/unnamed-chunk**.log
acs-pums/src/*/acs_pums
acs-pums/src/*/*.dta

survey-data-analysis/src/part-*/*.xlsx
survey-data-analysis/src/part-*/unnamed-chunk**.do
survey-data-analysis/src/part-*/unnamed-chunk**.log

stata-tables-to-excel/src/*.xlsx
stata-tables-to-excel/src/*.do
stata-tables-to-excel/src/*.log

