.Rproj.user
.Rhistory
.RData
.Ruserdata

acs-pums/
survey-data-analysis/src/part-*/*.xlsx
survey-data-analysis/src/part-*/unnamed-chunk**.do
survey-data-analysis/src/part-*/unnamed-chunk**.log

stata-tables-to-excel/src/*.xlsx
stata-tables-to-excel/src/unnamed-chunk*.do
stata-tables-to-excel/src/unnamed-chunk*.log

